* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.Content-Main-Container {
    background: #4cabff40;
}

.Contentcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 88px 0;
}

.Contentform-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

.Contentform-title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.Contentform-label {
    margin-bottom: 8px;
    display: block;
    color: #555;
}

.Contentform-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
}

.Contentform-getData {
    padding: 10px;
    height: 100px;
    line-height: normal;
    vertical-align: top;
}



.Contentform-button {

    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.ContentBtn {
    text-align: center;
    margin-bottom: 20px;
}

.Registerbtn {
    text-decoration: none;
    color: #fff;
}


.Contentform-button:hover {
    background-color: #0056b3;
}

@media (max-width: 480px) {
    .Contentform-container {
        padding: 15px;
    }

    .Contentform-title {
        font-size: 20px;
    }

    .Contentform-input {
        font-size: 14px;
    }

    .Contentform-button {
        font-size: 14px;
    }
}